/*all*/
body {
    font-family: 'Roboto',
            sans-serif;
    color: black;
}

:root {
    --main-blue: #2196F3;
    --lighter-black: #212121;
    --main-grey: #757575;
    --background-dark: #2F303A;
    --button-grey: #F5F4FA;
    --background-grey: #F5F4FA;
    --social-icon: #AFB1B8;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*Header*/

.header {
    border-bottom: 1px solid #ececec;
    background-color: #fff;
    padding: 25px 0;
    height: 80px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header-menu-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.header-menu-items-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-left: 93px;

}

.header-menu-items-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-left: -50px;
}

.web,
.studio {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
}

.web {
    color: var(--main-blue);
}

.studio {
    color: black;
}

.header-menu-items-contact-link:hover,
.header-menu-items-contact-link:focus,
.header-menu-items-nav-link:hover,
.header-menu-items-nav-link:focus {
    color: var(--main-blue);
    
}

.contact-icon:focus,
.contact-icon:hover {
    fill: var(--main-blue);
}

.header-menu-items-nav-link,
.header-menu-items-contact-link,
.link-webstudio {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
}

.header-menu-items-nav-link {
    color: var(--lighter-black);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    margin-right: 46px;
}

.header-menu-items-contact-link {
    color: var(--main-grey);
    margin-left: 50px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-menu-items-nav-link.current {
    color: var(--main-blue);
}

.header-menu-items-nav-link.current::after { 
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -30px;
    background-color: var(--main-blue);
}

/*Sections main page*/

.section-title {
    background-color: var(--background-dark);
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
}


.our-team {
    background-color: var(--background-grey);
}

.title-main {
    color: white;
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 1.36em;
    max-width: 600px;
    margin: 0 auto 30px;

}

.button-main {
    background-color: var(--main-blue);
    cursor: pointer;
    border: 0px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 1.875em;
    padding: 10px 42px;
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover {
    background-color: #2196F3CC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-assets {
    padding-bottom: 0px;
}

.section-info {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-bottom: -30px;
    justify-content: space-between;
}

.section-info-container {
    margin-bottom: 30px;
    max-width: 270px;
}

.section-info-title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--lighter-black);
    line-height: 1.14em;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
}

.section-info-title-text {
    font-size: 14px;
    color: var(--main-grey);
    line-height: 1.71em;
    letter-spacing: 0.03em;
}

.section-info-icon {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: var(--background-grey);
}

.title-section {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--lighter-black);
    line-height: 1.17em;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}

.title-section-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    justify-content: space-between;
    
}

.title-section-list-item {
    margin-bottom: 30px;
    position: relative;
}

.title-section-list-item-addon {
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
    padding: 27px 0px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}

.our-team-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    justify-content: space-between;
}

.our-team-list-item {
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
}

.our-team-image {
    margin: 0px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--lighter-black);
    line-height: 1.19em;
    padding-top: 30px;
    margin-bottom: 10px;
}

.occupation {
    font-size: 16px;
    text-align: center;
    color: var(--main-grey);
    line-height: 1.19em;
    padding-bottom: 18px;
}

.our-team-icons-list {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.our-team-icons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--social-icon);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icons-item:hover,
.our-team-icons-item:focus {
  background-color: var(--main-blue);
  fill: #ffffff;
}

.our-customers-list {
    display: flex;
    justify-content: center;
}

.our-customers-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: var(--social-icon);
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    margin-right: 30px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers-item:hover,
.our-customers-item:focus {
    border-color: var(--main-blue);
    fill: var(--main-blue);
}


/* Section portfolio */

.portfolio-buttons {
    padding-bottom: 0px;
}

.portfolio-projects {
    padding-top: 0px;
}

.button-portfolio {
    background-color: var(--button-grey);
    cursor: pointer;
    border: 0px;
    padding: 6px 22px;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--main-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-portfolio:hover > span,
.button-portfolio:focus > span {
    color: white;
}

.button-portfolio-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62em;
    color: var(--lighter-black);
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-buttons-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-bottom: -8px;
    padding-bottom: 50px;
    
}

.portfolio-buttons-list-item {
    margin-left: 8px;
    margin-bottom: 8px;
}

.portfolio-projects-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    justify-content: space-between;
}

.portfolio-projects-list-item {
    margin-bottom: 30px;
    max-width: 370px;
    border: 1px solid #EEEEEE;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects-list-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.portfolio-projects-image {
    margin: 0px;
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects-text {
    position: absolute;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: #ffffff;
}

.portfolio-projects-list-item:hover .portfolio-overlay {
    transform: translateY(0);
  }

.portfolio-projects-caption {
    margin: 20px 24px 20px 24px;
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    color: var(--lighter-black);
    letter-spacing: 0.06em;
}

.affiliation {
    font-size: 16px;
    line-height: 1.88em;
    color: var(--main-grey);
    letter-spacing: 0.03em;
}

.portfolio-div {
    
    
}



/*Footer*/

.footer {
    background-color: var(--background-dark);
    padding: 60px 0;
}

.footer-web,
.footer-studio {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19em;
}

.footer-web {
    color: var(--main-blue);
}

.footer-studio {
    color: white;
}

.footer-address {
    color: white;
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--main-blue);
}

.footer-contact {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address,
.footer-contact {
    font-size: 14px;
    line-height: 1.71em;
    font-style: normal;
}

.footer-flex {
    display: flex;
    align-items: baseline;
}

.footer-left {
    margin-right: 70px;
  }

.join-us {
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.footer-social-list-item {
    fill: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item:hover,
.footer-social-list-item:focus {
  background-color: var(--main-blue);
}

.footer-newsletter {
    margin-left: 93px;
}

.footer-newsletter-text {
    padding: 20px 0px 10px 0px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-newsletter-input {
    width: 358px;
    margin: 0;
    padding: 13px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--background-dark);
    color: #ffffff;
    height: 50px;
}

.footer-newsletter-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 0px;
    padding: 8px 29px;
    border-radius: 4px;
    background-color: var(--main-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    cursor: pointer;
    min-height: 43px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-newsletter-button:focus,
.footer-newsletter-button:hover {
    background-color: #2196F3CC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-newsletter-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    
}

.footer-newsletter-button::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 20px;
    margin-left: 10px;
    background-image: url(../images/newsletter-button.svg);
    margin-left: 20px;
}

/*Backdrop*/

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    color: var(--main-blue);
    border-color: var(--main-blue);
    fill: var(--main-blue);
}

.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);;
    top: 0;
    transition: 250ms cubic-bezier(.04,.25,.2,1);
}

.backdrop.is-hidden .modal {
    transform: scale(0.3);
  }

.modal {
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    position: relative;
    transform: scale(1);
    transition: 1000ms cubic-bezier(.04,.25,.2,1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.form {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.form-title {
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--lighter-black);
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-margin-top {
    margin-top: 12px;
}

.form-label, .comment-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-grey);
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    margin: 0;
    padding: 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: var(--main-blue);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(25%);
    display: inline-block;
    width: 12px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon {
    fill:var(--main-blue)
}

.comment {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    height: 120px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .comment:focus {
    outline: none;
    border-color: var(--main-blue);
 }

 .comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0,5);
    opacity: .3;
}

 .form-accept {
    padding-left: 14px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.rules-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    color: var(--lighter-black);
  }

.form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.icon-check {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
}

.form-checkbox:checked + .icon-check {
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--main-blue);
    background-origin: border-box;
    border-color: var(--main-blue);
}

.rules-link,
.policy-link {
    margin-left: 4px;
    margin-right: 4px;
    color: rgba(33, 150, 243, 1);
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--main-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #2196F3CC;
}












































